.rg-customer {
  @extend %rg-box;
  text-align: center;
  color: $main-color;
  line-height: 1.86rem;
  font-size: 1.3rem;
  font-weight: 500;
  height: 25rem;
  @media screen and (orientation: landscape) {
    height: 20rem;
  }
}
.rg-customer-content {
  width: 21rem;
  height: 20rem;
  margin: 0.7rem auto 0;
  background: #f0f0f0;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  @media screen and (orientation: landscape) {
    height: 15.6rem;
  }
  // overflow-y: auto;
}
.rg-customer-tip {
  padding: 0.5rem 0 0;
  margin: 0 auto;
  color: $main-color;
  font-size: 0.8rem;
  line-height: 1rem;
}
.rg-customer-list-wrap {
  width: 18rem;
  height: 16.2rem;
  margin: 0.6rem auto 0;
  overflow-y: scroll;
  overflow-x: hidden;
  @media screen and (orientation: landscape) {
    height: 12rem;
  }
}
.rg-customer-list {
  box-sizing: border-box;
  color: $main-color;
  text-align: left;
}
.rg-customer-question{
  background: #d9d9d9;
  box-sizing: border-box;
  /* height: 2.4rem; */
  padding: 0.5rem 0.5rem;
  line-height: 1.2;
}
.rg-customer-question-wrap {
  border-bottom: 1px solid #f0f0f0;
}
.rg-customer-down-icon {
   box-sizing: border-box;
    float: right;
    margin: 0.2rem 0.8rem 0 0;
    width: 0.6rem;
    height: 0.6rem;
    transform: rotate(-45deg);
    border-right: 2px solid $main-color;
    border-bottom: 2px solid $main-color;
}
.rg-customer-answer {
  box-sizing: border-box;
  width: 18rem;
  padding: 0.5rem 1rem;
  line-height: 1.4;
  margin: 0 auto;
  color: #000;
  background: #fff;
  text-indent: 0;
}
