html,
body {
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei", sans-serif;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #000;
}

p {
  margin: 0;
}

.wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
}

html {
  font-size: 5vw;
}

@media screen and (max-width: 320px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px;
  }
}

.payment-type5 {
  .label-root {
    position: relative;
    top: 0;
    left: 0;
  }
  .input-root {
    div[class^=MuiSelect-root-] {
      display: flex;
      align-items: center;
    }
    svg[class^=MuiSvgIcon-root-] {
      position: static;
      top: 0;
      left: 0;
      width: 2rem;
      height: 2rem;
    }
    div[class^=MuiSelect-select-] {
      text-align: center;
    }
  }
}

.invisible {
  visibility: hidden !important;
}

.hide {
  display: none !important;
}

a {
  cursor: pointer;
}

li {
  list-style: none;
}