.rg-forget-active {
  color: #fff;
  background-color: $main-color;
}
.rg-forget-table {
  margin: 0.6rem auto 1.6rem;
  width: 20rem;
  height: 2.4rem;
  text-align: center;
  line-height: 2.4rem;
  font-size: 1rem;
  color: #595959;
}
.rg-forget-password-btn,
.rg-forget-username-btn {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid $main-color;
  width: 50%;
}
.rg-forget-wrap {
  box-sizing: border-box;
  position: relative;
  margin: 0.6rem auto 0;
  border-radius: 0.3rem;
  border: 1px solid $main-color;
  padding: 0 0.5rem;
  width: 20rem;
  height: 3rem;
  background: #fff;
}
.rg-forget-panel {
  padding: 0 2rem;
}
.rg-forget-username {
  display: table-cell;
  box-sizing: border-box;
  margin: 1rem 2rem;
  border: 1px solid$main-color;
  padding: 1rem;
  width: 20rem;
  height: 8rem;
  text-align: center;
  vertical-align: middle;
  color: #8c8c8c;
  background-color: #fafafa;
}
.rg-btn-login.rg-time-active {
  background: gray;
}
