.rg-login-main.rg-loading {
  height: 14rem;
}
.rg-loading-info {
  width: 20rem;
  height: 6rem;
  margin: 1rem auto;
  border-bottom: 1px solid gray;
}
.rg-loading-userName {
  line-height: 1.2;
  text-align: center;
  vertical-align: baseline;
}
.rg-loading-userName-label {
  display: inline-block;
  color: gray;
  font-size: 1.2rem;
}
.rg-loading-userName-txt {
  display: inline-block;
  color: $main-color;
  font-size: 1rem;
}
.rg-loading-valid {
  margin: 1rem auto 0.6rem;
  color: red;
  font-size: 0.8rem;
  text-align: center;
}
.rg-loading-txt {
  margin-top: 1rem;
  text-align: center;
  color: gray;
}
.rg-loading-icon {
  display: inline-block;
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
  vertical-align: -0.2rem;
  animation: rg-rotate 1s linear infinite;
  background: url(../img/cg_icon_loading_auto_login.png) center/contain no-repeat;
}
@keyframes rg-rotate {
  form {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.rg-loading-change {
   margin: 0 auto;
  border-radius: 0.3rem;
  width: 20rem;
  height: 2.4rem;
  font-size: 1rem;
  color: white;
  line-height: 2.4rem;
  text-align: center;
  background: $main-color;
  background: linear-gradient(to bottom, $main-color, #3852a4);
}
.rg-icon-switch {
  display: inline-block;
  margin-right: 0.2rem;
  width: 2.13rem;
  height: 1.03rem;
  background: url(../img/cg_img_login.png) center/contain no-repeat;
  vertical-align: -0.2rem;
}
