.rg-register-box {
  height: 19rem;
}
.rg-register-wrap {
  height: 9rem;
}
.rg-password1 {
  @extend %rg-input;
}
.rg-password2 {
  @extend %rg-input;
}
.rg-choose.rg-hide-border {
  border-bottom: none;
}
.rg-check {
  box-sizing: border-box;
  margin: 0.3rem 0 0 2rem;
  padding-top: 0.3rem;
  width: 8rem;
  height: 1.2rem;
  line-height: 1.2rem;
}
.rg-register-active,
.rg-checkbox {
  width: 0.9rem;
  height: 0.9rem;
}
.rg-checkbox {
  float: left;
  border-radius: 0.1rem;
  background: white;
}

.rg-register-active {
  box-sizing: border-box;
  border: solid 0.1rem white;
  background: #37373f;
}

.rg-checkbox-txt {
  display: block;
  float: left;
  margin-left: 0.5rem;
  color: #fff;
  line-height: 1rem;
  font-size: 0.8rem;
}
