body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

.swiper-container {
  width: 51.75vh;
  height: 92vh;
  max-height: 163.55555vw;
  max-width: 92vw; 

  overflow: hidden;
  position: relative;
}

.swiper-container .swiper-wrapper {
  display: flex;
  width: 10000px;
  /* visibility: hidden; */
}

.swiper-img {
  width: 100%;
}

.swiper-pagination {
  bottom: 3.2rem !important;
  width: 100vw !important;
}

/* .swiper-pagination-bullets-dynamic {} */

/* .swiper-pagination-bullet-active {
  background: #000 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: .5 !important;
} */


#app {
  width: 100%;
  max-width: 800px;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}


.app-container {
  position: relative;
}

.clk-next {
  width: 2.2rem;
  height: 2.5rem;
  background: url('./assets/right.png');
  background-size: 100% 100%;
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-top: -1.25rem;
  z-index: 10;
}

.clk-prev {
  width: 2.2rem;
  height: 2.5rem;
  background: url('./assets/left.png');
  background-size: 100% 100%;
  position: absolute;
  left: 1rem;
  top: 50%;
  margin-top: -1.25rem;
  z-index: 10;
}