body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

.swiper-container {
  width: 51.75vh;
  height: 92vh;
  max-height: 163.55555vw;
  max-width: 92vw;

  overflow: hidden;
  position: relative;
}

.swiper-container .swiper-wrapper {
  display: flex;
  width: 10000px;
  /* visibility: hidden; */
}

.swiper-img {
  width: 100%;
}

.swiper-pagination {
  bottom: 3.2rem !important;
  width: 100vw !important;
}

#app {
  width: 100%;
  max-width: 800px;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}


.app-container {
  position: relative;
}


.ios-page1 {
  background-image: url('./assets/ios/page1_game_image.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.ios-page1::before {
  display: block;
  content: '';
  height: 100%;
  background-image: url('./assets/ios/page1_bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.ios-page1-select-text {
  width: 100%;
  box-sizing: border-box;
  padding: 0 2vw;
  font-size: 4.4vw;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 20vw;
  left: 0;
}

.ios-page1-select-image {
  width: 24vw;
  position: absolute;
  bottom: 0vw;
  left: 24vw;

}

.ios-page2 {
  background-image: url('./assets/ios/page1_game_image.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.ios-page2::before {
  display: block;
  content: '';
  height: 100%;
  background-image: url('./assets/ios/page1_bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;

}

.ios-page2-tip {
  width: 96.8%;
  height: 121.5vw;
  background-image: url('./assets/ios/page2_bg.png');
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 48vw auto 0;
}

.ios-page2-top {
  width: 100%;
  height: 27vw;
  line-height: 27vw;
  margin: 0;
}

.ios-page2-top-text {
  display: inline-block;
  width: 74%;
  margin-left: 21vw;
  line-height: 1;
  font-size: 3.2vw;
  vertical-align: middle;
}

.ios-page2-select-text {
  box-sizing: border-box;
  width: 100%;
  color: red;
  font-size: 4.6vw;
  text-align: center;
  margin-top: 22vw;
  padding: 0 2vw;
  margin-bottom: 0;
  word-wrap: break-word;
  white-space: pre-line;
}

.ios-page2-select-image {
  width: 38.4vw;
  height: auto;
  position: absolute;
  right: 4.6vw;
  bottom: 18vw;
}

.ios-page2-tags {
  margin: 25vw 0 0 -12vw;
  box-sizing: border-box;
  width: 126%;
  transform: scale(0.8);
  padding-left: 2vw;
}

.ios-page2-tags-TW {
  margin: 26vw 0 0 -12vw;
}

.ios-page2-tags-text {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  vertical-align: middle;
  font-size: 3.2vw;
  text-align: center;
  word-wrap: break-word;
  white-space: pre-line;
}

.ios-page2-cancle-text {
  margin-top: 4vw;
  width: 100%;
  text-align: center;
  height: 16vw;
  line-height: 15vw;
  color: #007eff;
  font-weight: 700;
}

.ios-page3 {
  background-image: url('./assets/ios/page3_bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.ios-page3-tip-text {
  color: #1673d3;
  font-size: 4.6vw;
  text-align: right;
  margin-right: 4vw;
  margin-top: 6vw;
}

.ios-page3-select-image {
  width: 32vw;
  height: auto;
  position: absolute;
  top: 4vw;
  right: 1vw;
}

.ios-page3-select-text {
  color: red;
  text-align: right;
  font-size: 4.6vw;
  line-height: 1.2;
  padding: 0 3vw;
}

.ios-page3-icon .app-icon {
  margin: -1vw 0 0 2.4vw;
  padding: 0;
  float: left;
}

.ios-page3-app-name {
  margin-left: 22vw;
}

.ios-page4 {
  background-image: url('./assets/ios/page4_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  color: white
}

.app-icon {
  margin-left: 5vw;
  margin-top: 6vw;
  width: 16.3vw;
  height: 16.3vw;
}

.ios-page4-app-name {
  width: 16vw;
  line-height: 1.5;
  font-size: 3.5vw;
  margin: 0 0 0 5vw;
}

.ios-page4-select-text {
  font-size: 4.6vw;
  line-height: 1.5;
  padding: 0 2vw;
  white-space: pre-line;
  word-break: keep-all;
  word-wrap: break-word;
  text-align: center;
}

.android-page {
  background-image: url('./assets/android/page_bg_top.png'), url('./assets/android/page_bg_bottom.png');
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center bottom;
}

.android-page1-select-image {
  width: 21.33vw;
  height: auto;
  margin-top: 9.6vw;
  margin-left: 67.6vw;
}

.android-select-text {
  box-sizing: border-box;
  width: 100%;
  padding: 0 2vw;
  font-size: 4.4vw;
  color: white;
  text-align: center;
  font-weight: 600;
  margin: 0;
  word-wrap: break-word;
}

.android-page2-menu {
  float: right;
  width: 72.8%;
  height: 100%;

  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  margin-top: 6.67vw;
}

.android-page2-menu-TW {
  background-image: url('./assets/android/page2_bg_TW.png');
}

.android-page2-menu-EN {
  background-image: url('./assets/android/page2_bg_EN.png');
}

.android-page2-select-text {
  color: red;
  margin-top: 108vw;
  font-size: 4vw;
}

.android-page2-select-image {
  width: 47.6vw;
  height: auto;
  margin-left: 2vw;
  margin-top: 8vw;
}

.android-page2-menu-TW .android-page2-select-image {
  margin-top: 6vw;
}

.android-page2-menu-text {
  margin-top: -8vw;
  margin-left: 4vw;
  margin-bottom: 0;
  font-size: 4vw;
}

.android-page3 {
  display: flex;
  align-items: center;
}

.android-page3-popup {
  width: 87%;
  height: 45vw;
  margin: 1vw auto 0;
  background-image: url('./assets/android/page3_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.android-page3-select-text {
  width: 106%;
  color: #fff;
  padding: 0;
  margin-top: -8vw;
  margin-left: -3vw;
}

.android-page3-popup-title {
  color: #000;
  box-sizing: border-box;
  width: 100%;
  padding: 0 4vw;
  font-size: 5vw;
  text-align: left;
  font-weight: 600;
  margin: 5.8vw 0 0 0;
  word-wrap: break-word;
}

.app-info {
  margin: 0;
}

.app-info .app-icon {
  margin: 6vw 4vw 0;
  width: 12vw;
  height: 12vw;
}

.app-info .app-Name {
  display: inline-block;
  font-size: 4vw;
  color: #000;
  vertical-align: 1vw;
  font-weight: 600;
}

.popup-button {
  color: #3a88dc;
  font-size: 4vw;
  margin: 6vw 0 0;
  text-transform: uppercase;
}

.popup-button-add {
  margin-left: 8vw;
}

.popup-button-cancel {
  margin-left: 40vw;
}

.popup-button-cancel-TW {
  margin-left: 48vw;
}

.android-page3-select-image {
  width: 22vw;
  height: 20.6vw;
  position: absolute;
  bottom: 4vw;
  right: 2vw;
}

.android-page4 {
  background-image: url('./assets/android/page4_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.android-page4 .app-icon {
  margin-left: 24vw;
}

.android-page4-app-name {
  width: 16vw;
  line-height: 1.5;
  font-size: 3.5vw;
  margin: 0 0 0 24vw;
}

.android-page4-select-text {
  font-size: 4.6vw;
  line-height: 1.5;
  padding: 0 2vw;
  word-wrap: break-word;
  white-space: pre-line;
  text-align: center;
}

.clk-next {
  width: 2.2rem;
  height: 2.5rem;
  background: url('./assets/right.png');
  background-size: 100% 100%;
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-top: -1.25rem;
  z-index: 10;
}

.clk-prev {
  width: 2.2rem;
  height: 2.5rem;
  background: url('./assets/left.png');
  background-size: 100% 100%;
  position: absolute;
  left: 1rem;
  top: 50%;
  margin-top: -1.25rem;
  z-index: 10;
}
