.box-alert {
  min-width: 88vw;
  box-sizing: border-box;
  border: solid 2px #dedede;
  position: fixed;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  padding: 15px 15px 15px 20px;
  display: flex;
  align-items: center;
  background: rgba(80, 89, 93, 0.96);
  color: #fff;
  border-radius: 10rem;
  display: flex;
  padding: 0.3rem 0.8rem;
  font-size: 0.3 * 2.67 + rem;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 99;
  transition: opacity 0.75s;

  &.show {
    opacity: 1;
  }
  p{
    line-height: 1.2;
  }
}

.alert {
  width: 4 * 2.67 + rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // margin: -1*2.67+rem 0 0 -2*2.67+rem;
  padding: 0.3 * 2.67 + rem;
  position: absolute;
  font-size: 0.3 * 2.67 + rem;
  border-radius: 0.05 * 2.67 + rem;
  border: solid 2px #dedede;
  -webkit-box-shadow: 0 0 0.4 * 2.67 + rem white;
  -moz-box-shadow: 0 0 0.4 * 2.67 + rem rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0.4 * 2.67 + rem white;
  background: rgba(255, 255, 255, 0.3);
  .btns {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}

.alert p {
  color: #d8d3d3;
  line-height: 0.3 * 2.67 + rem;
  text-align: center;
  display: block;
  margin: 0.2 * 2.67 + rem auto 0;
}

.alert button {
  font-size: 0.24 * 2.67 + rem;
  padding: 0.05 * 2.67 + rem 0.2 * 2.67 + rem;
  border: solid 1px #00a0d8;
  border-radius: 0.05 * 2.67 + rem;
  margin: 0.5 * 2.67 + rem 0.1 * 2.67 + rem 0 0.1 * 2.67 + rem;
  color: white;
  outline: none;
  background: #00a0d8;
}
