.box-alert {
  z-index: 99;
  position: fixed;
  /* width: 100%; */
  height: 100%;
  background: rgba(80,89,93,.96);
  color: #fff;
  border-radius: 10rem;
  /* visibility: hidden; */
  height: 1.34rem;
  /* width: 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 .8rem .05rem .8rem;
  font-size: .7rem;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .75s;

  &.show {
    opacity: 1;
  }
}

.alert {
  width: 4*2.67+rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // margin: -1*2.67+rem 0 0 -2*2.67+rem;
  padding: .3*2.67+rem;
  position: absolute;
  font-size: .3*2.67+rem;
  border-radius: .05*2.67+rem;
  border: solid 2px #dedede;
  -webkit-box-shadow: 0 0 .4*2.67+rem white;
  -moz-box-shadow: 0 0 .4*2.67+rem rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 .4*2.67+rem white;
  background: rgba(255, 255, 255, 0.3);
  .btns {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}

.alert p {
  color: #d8d3d3;
  line-height: .3*2.67+rem;
  text-align: center;
  display: block;
  margin: .2*2.67+rem auto 0;
}

.alert button {
  font-size: .24*2.67+rem;
  padding: .05*2.67+rem .2*2.67+rem;
  border: solid 1px #00a0d8;
  border-radius: .05*2.67+rem;
  margin: .5*2.67+rem .1*2.67+rem 0 .1*2.67+rem;
  color: white;
  outline: none;
  background: #00a0d8;
}