.login {
  z-index: 20;
  position: relative;
}

.box-input {
  width: 100%;
  border-radius: 0.1*2.67+rem;
  position: relative;
  margin: 0.23*2.67+rem auto 0;
  padding-top: 1px;
  background: white;
}

.content {
  width: 18.156rem;
  padding-bottom: -1.466rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.1335rem;
  border: solid 2px #dedede;
  box-shadow: 0 0 1.068rem white;
  background: rgba(255, 255, 255, 0.3);
  position: fixed;
}

.block {
  font-size: 0;
  display: block;
  text-indent: -9999px;
}

input::-webkit-input-placeholder {
  color: #b3b3b3;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b3b3b3;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b3b3b3;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b3b3b3;
}