.rg-notice {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  text-align: center;
  animation: rg-show-notice 3s infinite;
  outline: none;
}
.rg-notice-msg {
  display: inline-block;
  border-radius: 2rem;
  padding: 0.2rem 1rem;
  font-size: 1rem;
  line-height: 1.4;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}
@keyframes rg-show-notice {
  0% {
    bottom: 10%;
    opacity: 0;
  }
  10% {
    bottom: 15%;
    opacity: 1;
  }
  90% {
    bottom: 15%;
    opacity: 1;
  }
  100% {
    bottom: 10%;
    opacity: 0;
  }
}
