.win-loading .logo {
  width: 2.9*2.67 + rem;
  height: 0.9*2.67 + rem;
  background: url(../../assets/icon-logo.png) center no-repeat;
  background-size: contain;
}

.win-loading h2 {
  margin: -0.3*2.67 + rem auto 0;
}

.content.win-loading {
  height: 3.66*2.67 + rem;
  font-size: 0.26*2.67 + rem;
  color: #ccc;
  line-height: 0.5*2.67 + rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info p {
  width: 100%;
  margin: 0.1*2.67 + rem auto 0;
  display: flex;
  justify-content: center;
}

.info p span {
  color: #fff;
  padding-left: .3rem;
}

.win-loading .line {
  width: 90%; // margin: 0.1*2.67 + rem auto 0;
  border-bottom: solid 1px #dedede;
}

.change {
  width: 90%;
  height: 0.7*2.67 + rem;
  display: block;
  line-height: 0.7*2.67 + rem;
  color: white;
  font-size: 0.28*2.67 + rem;
  text-decoration: none;
  margin: 0.2*2.67 + rem auto 0;
  border-radius: 0.1*2.67 + rem;
  background: #1eafe5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change span {
  display: block;
  float: left;
}

.change span.switch {
  width: 1.03*2.67 + rem;
  height: 0.5*2.67 + rem;
  background: url(../../assets/entry_switch_account.png) center no-repeat;
  background-size: contain;
  margin: .2rem .5rem 0 -.7rem;
}