  .win-register {
    .box-input {
      width: 95%;
      border-radius: 0.1*2.67+rem;
      position: relative;
      margin: 0.23*2.67+rem auto 0;
      padding-top: 1px;
      background: white;
    }
  }

  .header {
    width: 100%;
    height: 0.9*2.67+rem;
    margin: 0 auto;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: solid 0.04*2.67+rem #1eafe5;
    -webkit-box-shadow: 0 0.05*2.67+rem 0.02*2.67+rem gray;
    -moz-box-shadow: 0 0.05*2.67+rem 0.02*2.67+rem gray;
    box-shadow: 0 0.05*2.67+rem 0.02*2.67+rem gray;
  }

  .icon-head {
    width: 1.8*2.67+rem;
    height: 0.56*2.67+rem;
    margin: 0.17*2.67+rem 0 0 0.2*2.67+rem;
    background: url(../../assets/icon-logo.png) center no-repeat;
    background-size: contain;
  }

  .header a.close {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0.46rem;
    right: 0.5rem;
    background: url(../../assets/ui_close.png) center no-repeat;
    background-size: contain;
  }

  .line-input {
    padding: 0.28*2.67+rem 0;
    overflow: hidden;
  }

  .line-input .icon {
    width: 0.38*2.67+rem;
    height: 0.38*2.67+rem;
    display: block;
    float: left;
    margin: 0 0.24*2.67+rem;
  }

  .username .icon {
    background: url(../../assets/ui_account.png) center no-repeat;
    background-size: contain;
  }

  .password .icon {
    background: url(../../assets/ui_password.png) center no-repeat;
    background-size: contain;
  }

  .win-register {
    .username {
      border-bottom: solid 1px #b3b3b3;
    }
  }

  .line-input input {
    width: 4.0*2.67+rem;
    color: #b3b3b3;
    display: block;
    float: left;
    font-size: 0.26*2.67+rem;
    line-height: 0.38*2.67+rem;
    text-indent: 0.2*2.67+rem;
    border: none;
    border-left: solid 1px #00a0d8;
    outline: none;
  }

  .line-input .icon-close {
    width: 0.38*2.67+rem;
    height: 0.38*2.67+rem;
    float: left;
    display: none;
    z-index: 2;
    position: relative;
    background: url(../../assets/ui_close.png) center no-repeat;
    background-size: contain;
  }

  .line-input .icon-close.active {
    display: block;
  }

  .icon-down {
    width: 0.42*2.67+rem;
    height: 0.42*2.67+rem;
    float: right;
    margin-right: 0.15*2.67+rem;
    background: url(../../assets/ui_pull_down.png) center no-repeat;
    background-size: contain;
  }

  .win-register .line-input input {
    width: 5.0*2.67+rem;
  }

  .win-register .line-input {
    padding: 0.25*2.67+rem 0;
  }

  .password.one {
    border-bottom: solid 1px #b3b3b3;
  }

  .win-register .btn-register {
    width: 95%;
    height: 2.403rem;
    display: block;
    line-height: 2.403rem;
    text-decoration: none;
    margin: 0 auto .6rem;
    position: relative;
    font-size: 0.8544rem;
    color: white;
    border-radius: 0.267rem;
    background: #33a4e5;
    background: gradient(linear, 0 0, 0 bottom, from(#45b1f0), to(#33a4e5));
    text-align: center;
  }

  .check {
    width: 95%;
    margin: 0 auto;
    padding: 0.4005rem 0;
    display: flex;
    align-items: center;
  }

  .checkbox {
    width: 0.3*2.67+rem;
    height: 0.3*2.67+rem;
    float: left;
    border-radius: 0.05*2.67+rem;
    background: white;
  }

  .checkbox.active {
    width: 0.2*2.67+rem;
    height: 0.2*2.67+rem;
    border: solid 0.05*2.67+rem white;
    background: #37373f;
  }

  .check p {
    color: #fff;
    display: block;
    float: left;
    margin-left: 0.1*2.67+rem;
    line-height: 0.3*2.67+rem;
    font-size: 0.24*2.67+rem;
  }