html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #000;
  -webkit-overflow-scrolling: touch;
}

p {
  margin: 0;
}

.wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
}

html {
  font-size: 5vw;
}

@media screen and (orientation: landscape) {
  /*横屏 css*/

  html {
    font-size: 3vw;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px;
  }
}

.payment-type5 {
  .label-root {
    position: relative;
    top: 0;
    left: 0;
  }

  .input-root {
    div[class^='MuiSelect-root-'] {
      display: flex;
      align-items: center;
    }

    svg[class^='MuiSvgIcon-root-'] {
      position: static;
      top: 0;
      left: 0;
      width: 2rem;
      height: 2rem;
    }

    div[class^='MuiSelect-select-'] {
      text-align: center;
    }
  }
}

.invisible {
  visibility: hidden !important;
}

.hide {
  display: none !important;
}

a {
  cursor: pointer;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

a,
img {
  -webkit-touch-callout: none;
  /* 禁止长按链接与图片弹出菜单 */
}
