.win-open {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 9999;

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.2rem;
    width: 17rem;
    background: url(../img/cg_logo.png) center 18%/14rem auto no-repeat  #fff;
    .close {
      position: absolute;
      right: 0.9rem;
      top: 0.9rem;
      width: 1.4rem;
      height: 1.4rem;
      float: right;
      background: url(../img/cg_img_close.png) center/contain no-repeat;
    }

    .upper {
      margin: 6rem 0 1.2rem 0;
      padding: 0 1rem;
      color: #33a4e6;
      line-height: 1.6rem;
      text-align: center;
    }

    .btn-jump {
      margin: 0.2rem 0 1.5rem 0;
      border-radius: 0.2rem;
      padding: 0.5rem 0.8rem;
      color: #fff;
      font-size: 0.9rem;
      background: #33a4e6;
    }
  }
}
