.rg-pay-name {
  height: 1.6rem;
  background: #40a9ff;
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1.6rem;
  position: relative;
}
.rg-pay-type3-content {
  width: 22rem;
  margin: 0.5rem auto 0;
  color: #6d6d6d;
}
.rg-type3-top {
  height: 9rem;
}
.rg-type3-img-wrap {
  box-sizing: border-box;
  width: 50%;
  float: left;
  height: 9rem;
  line-height: 9rem;
  text-align: center;
}
.rg-type3-img {
  width: auto;
  height: 3.6rem;
  display: inline-block;
  vertical-align: middle;
}
.rg-type3-desc {
  box-sizing: border-box;
  width: 50%;
  float: left;
  height: 9rem;
  line-height: 9rem;
  text-align: left;
}
.rg-type3-center {
  text-align: center;
  height: 2rem;
}
.rg-type3-price {
  display: inline-block;
  color: #000;
}
.rg-type3-buy-btn {
  display: inline-block;
  background: #28abf0;
  color: #fff;
  border-radius: 0.3rem;
  padding: 0.25rem 0.9rem;
  font-size: 1rem;
  margin-left: 1rem;
}
.rg-type3-down {
  border-top: 1px dashed #c4c4c5;
  width: 22rem;
  margin: 0 auto;
  padding-top: 0.5rem;
  font-size: 0.7rem;
  line-height: 1.2;
}