.rg-pay-name {
  height: 1.6rem;
  background: #40a9ff;
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1.6rem;
  position: relative;
}
.rg-pay-type3-content {
  width: 22rem;
  margin: 0.5rem auto 0;
  color: #6d6d6d;
}
.rg-type3-top {
  height: 9rem;
}
.rg-type3-img-wrap {
  box-sizing: border-box;
  width: 50%;
  float: left;
  height: 9rem;
  line-height: 9rem;
  text-align: center;
}
.rg-type3-img {
  width: auto;
  height: 3.6rem;
  display: inline-block;
  vertical-align: middle;
}
.rg-type3-desc {
  box-sizing: border-box;
  width: 50%;
  float: left;
  height: 9rem;
  line-height: 9rem;
  text-align: left;
}
.rg-type3-center {
  text-align: center;
  height: 2rem;
}
.rg-type3-price {
  display: inline-block;
  color: #000;
}
.rg-type3-buy-btn {
  display: inline-block;
  background: #28abf0;
  color: #fff;
  border-radius: 0.3rem;
  padding: 0.25rem 0.9rem;
  font-size: 1rem;
  margin-left: 1rem;
}
.rg-type3-down {
  border-top: 1px dashed #c4c4c5;
  width: 22rem;
  margin: 0 auto;
  padding-top: 0.5rem;
  font-size: 0.7rem;
  line-height: 1.2;
}

// .payment-nav.type-3 {
//   .type3-item {
//     display: flex;
//     flex-flow: column nowrap;
//     width: 90%;
//     margin-left: 0.75rem;
//     margin-top: 2.5rem;
//     padding: 0;
//     font-size: 0.8rem;
//     flex-grow: 1;
//   }

//   .type3-product-content {
//     display: flex;
//     flex-flow: column nowrap;
//     justify-content: center;
//     flex-grow: 1;
//   }

//   .type3-product-top {
//     display: flex;
//     flex-flow: row nowrap;
//   }

//   .type3-product-img-wrap {
//     width: auto;
//     height: 3rem;
//     flex-shrink: 0;
//     margin-right: 0.8rem;
//   }

//   .type3-product-img {
//     display: block;
//     height: 3.6rem;
//   }

//   .type3-product-desc {
//     flex-grow: 1;
//     text-align: center;
//     color: #6d6d6d;
//     font-size: 1rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }

//   .type3-product-center {
//     display: flex;
//     flex-flow: row nowrap;
//     justify-content: center;
//     align-items: center;
//     padding: 10px;
//     margin-top: 1rem;
//   }

//   .type3-product-price {
//     font-size: 0.9rem;
//     color: #000;
//     font-weight: 700;
//     padding: 5px;
//     margin-right: 1rem;
//   }

//   .type3-buy-btn {
//     background: #28abf0;
//     color: #fff;
//     border-radius: 0.3rem;
//     padding: 0.25rem 0.9rem;
//     font-size: 0.8rem;
//     margin-top: 0.1rem;
//   }

//   .type3-product-down {
//     flex-grow: 0;
//     font-size: 0.7rem;
//     height: 1rem;
//     padding-top: 10px;
//     color: rgb(109, 109, 109);
//     text-align: left;
//     line-height: 1rem;
//     border-top: 1px dashed #c4c4c5;
//   }
// }
