.rg-typelist-wrap {
  height: 13.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.rg-typelist {
  margin: 0.5rem 1rem;
}
.rg-product {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 0.6rem;
  font-size: 0.8rem;
}
.rg-product-name {
  box-sizing: border-box;
  width: 75%;
  min-height: 2.4rem;
  float: left;
}
.rg-price-wrap {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  box-sizing: border-box;
  width: 25%;
  float: left;
  text-align: center;
}
.rg-typelist-buy-btn {
  background: #28abf0;
  color: #fff;
  border-radius: 0.3rem;
  padding: 0.3rem 0.2rem;
  margin-top: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
}
/* portrait 竖屏*/
@media screen and (orientation: portrait) {
  .rg-typelist-wrap {
    height: 26rem;
  }
}
