.payment-nav .cards li {
  // width: 3.12rem;
  // height: 1.5rem;
  float: left;
  border: solid 1px #c7c8ca;
  border-radius: 0.03rem;
  margin: 0.1rem;
}

.payment-nav .cards li img {
  height: 0.8rem;
  margin: 0.35rem auto 0;
  display: block;
}

.payment .cards {
  width: 100%;
  padding: 0;
  margin: 1.7rem auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
}

.payment .cards li {
  // width: 1.54*2.67+rem;
  // height: 0.49*2.67+rem;
  float: left;
  border: solid 1px #c7c8ca;
  border-radius: 0.03*2.67+rem;
  margin: 0.06*2.67+rem;
  width: 46%;
  height: 3.6rem;
}

.payment .cards li img {
  /* height: 0.8rem; */
  padding: 0.5rem;
  /* display: block; */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}