.web {
  border: 0;
  height: 100%;

}

.payment-nav.Type0 {
  height: 75vh;
  // position: relative;
  -webkit-overflow-scrolling: touch;
  // overflow-y: scroll;
  position: absolute;
  width: 100%;
}