.payment-nav.type-list {
  .name {
    text-align: center;
  }

  .type-list {
    padding: 0;
    margin: 1.9rem 0 0.5rem 0;
    overflow: auto;

    li {
      margin-left: 10%;
      border-bottom: 1px solid rgb(191, 191, 191);
      width: 80%;
      height: auto;
      background: #fff;
      display: flex;
      margin-top: 0.8rem;
      align-items: center;
      padding-bottom: 0.5rem;

      .item-name {
        font-size: 0.5rem;
        line-height: 1.2;
        text-align: left;
        flex-grow: 1;
        margin-right: 0.3rem;

        .up,
        .down {
          display: flex;
          align-items: center;
          height: 1.2rem;
        }

        // .up {
        //   // margin-top: .5rem;
        // }
        .down {
          font-size: 0.5rem;
        }
      }
      .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .item-price-btn {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        /* justify-content: space-around; */
        /*  height: 6rem; */
        text-align: center;
        .price-item {
          color: #000;
          height: 2rem;
          // display: flex;
          // justify-content: center;
          // align-items: center;
          line-height: 2rem;
          margin-top: -0.5rem;
        }

        .btn-item {
          line-height: 2;
          cursor: pointer;
          /* line-height: 5vw; */
          background: #28abf0;
          color: #fff;
          border-radius: 0.3rem;
          padding: 0 0.8rem;
          // height: 6vw;
          display: flex;
          align-items: center;
          max-height: 1.5rem;
        }
      }
    }
  }
}
