.product {
  width: 90%;
  margin: 0.29*2.67+rem auto 0;
  text-align: left;
  position: relative;
}

.product p.tip {
  color: #b3b3b3;
  font-size: 0.32*2.67+rem;
}

.productions {
  width: 100%;
  display: block;
  margin: 0.3*2.67+rem auto 0;
  color: black;
  font-size: 0.24*2.67+rem;
  text-align: center;
  border-radius: 0.03*2.67+rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .2*2.67+rem 0.23*2.67+rem;
  background: white
}

.payment .icon-down {
  position: absolute;
  margin-top: 0.15*2.67+rem;
  right: -0.05*2.67+rem;
}

.result {
  width: 90%;
  color: #4b5156;
  margin: 0.3*2.67+rem auto 0;
  font-size: 0.36*2.67+rem;
  font-weight: bold;
  text-align: center;
}

.result span {
  color: #b3b3b3;
  font-weight: 100;
  font-size: 0.32*2.67+rem;
  text-align: left;
  display: block;
}

.buy-goods {
  width: 60%;
  height: 0.72*2.67+rem;
  line-height: 0.72*2.67+rem;
  display: block;
  color: white;
  font-size: 0.36*2.67+rem;
  text-decoration: none;
  margin: 1*2.67+rem auto 0;
  border-radius: 0.1*2.67+rem;
  background: #29acf0;
}