.Type1.payment-nav {
    .card-head {
        height: 1*2.67+rem;
        margin: 1*2.67+rem auto 0;
        display: block;
    }

    .card-inputs {
        height: 0.8*2.67+rem;
        width: 90%;
        font-size: 0.17*2.67+rem;
        line-height: 0.8*2.67+rem;
        text-align: left;
        margin: 0.3*2.67+rem auto 0;
        border-radius: 0.06*2.67+rem;
        border: solid 1px #b3b3b3;
    }

    .card-inputs span {
        width: 0.57*2.67+rem;
        color: #727272;
        padding: 0 0.11*2.67+rem 0 0.23*2.67+rem;
    }

    .card-inputs input {
        color: #727272;
        border: none;
        outline: none;
        width: 68%;
    }

    .btn-pay {
        width: 90%;
        height: 0.72*2.67+rem;
        line-height: 0.72*2.67+rem;
        display: block;
        color: white;
        font-size: 0.36*2.67+rem;
        text-decoration: none;
        margin: .3*2.67+rem auto 0;
        border-radius: 0.1*2.67+rem;
        background: #29acf0;
        margin-bottom: 1.4rem;
    }

    .exchange {
        display: none;
    }
}